---
import { Image } from 'astro:assets';
import products from '../data/products.json';

const generateMessage = (name: string) =>
  `Halo, saya tertarik dengan produk "${name}". Saya ingin menanyakan lebih lanjut tentang produk ini.`;
---

<div class='container p-2 mx-auto lg:p-16'>
  <h1 class='mb-8 text-xl font-semibold text-center'>Produk Unggulan Kami</h1>
  <div class='grid grid-cols-2 gap-2 lg:grid-cols-4 lg:gap-12'>
    {
      products.map((product) => (
        <div class='flex flex-col items-center justify-center gap-2 md:gap-4 p-2 md:p-4 rounded-lg shadow-md bg-white'>
          <Image
            src={product.imageUrl}
            alt={product.name}
            width={100}
            height={100}
            class='h-20 md:h-40 w-fit hover:scale-105'
            priority
          />
          <p class='font-semibold text-center text-md lg:text-lg'>
            {product.name}
          </p>
          <a
            href={`https://wa.me/62818606659?text=${generateMessage(product.name)}`}
            target='_blank'
          >
            <button class='p-2 md:px-4 text-sm text-white bg-accent hover:bg-green-700 cursor-pointer rounded-xl'>
              WhatsApp Kami
            </button>
          </a>
        </div>
      ))
    }
  </div>
</div>
